<h1><%= @log_entry.date %></h1>

<h3>Location:</h3>
<%= @log_entry.location %>

<br></br>

<h3>weather: </h3>
<%= @log_entry.weather %>

<br></br>

<h3>moon_phase: </h3>
<%= @log_entry.moon_phase %>

<br></br>

<h3>comments: </h3>
<%= @log_entry.comments %>

<br></br>
