<a href="/logbooks/<%= @logbook.id %>">Back to Logbook</a>
<h1><%= @log_entry.date %></h1>

<h3>Location:</h3>
<%= @log_entry.location %>

<br></br>

<h3>Weather: </h3>
<%= @log_entry.weather %>

<br></br>

<h3>Moon Phase: </h3>
<%= @log_entry.moon_phase %>

<br></br>

<h3>Comments: </h3>
<%= @log_entry.comments %>

<br></br>

<h3>Fish Caught: </h3>
<ul>
  <% @fish.each do |fish| %>
    <li><a href="/fish/<%= fish.id %>"><%= fish.species %>, <%= fish.length %> cm</a></li>
  <% end %>
</ul>

<br></br>
